.App {
  text-align: center;
}
/* style="max-width:100%;height:auto;" */
.app{

  /* background-size: 100%; */
  /* height: 100vh; */
  /* background-image: url(./components/pic2.jpg); */
  /* background-size: cover; */
  /* height: 100vh cover; */
  /* max-width: 100% cover; */
  /* width: 100vh; */
  /* background-position: center center; */
  /* background-attachment: fixed; */
  /* background-size: 100vh fixed; */
  /* -webkit-background-size: cover;
  -moz-background-size:cover;
  -o-background-size:cover; */

  
  /* max-width: 100% auto;  */

  /* width: 100%; */
}
 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @viewport {
  width: device-width ;
  zoom: 1.0 ;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@media (min-width: 576px) { 
  .app {
    width: 100%;
    height: auto;
  }
  .header-div{
    flex-direction: column;
  }
 }


/* small phones from 0 to 48px */
@media only screen and (max-width: 480px) {

  .header-div{
    flex-direction: column;
  }
}

/* ipads */
@media only screen and (max-width: 767px) {
  .header-div{
    flex-direction: column;
  }
}

/* bigger ipads */
@media only screen and (max-width: 1023px) {
  .header-div{
    flex-direction: column;
  }
}
 
/* computers */
@media only screen and (max-width: 1200px) {
  .header-div{
    flex-direction: column;
  }
}