
/* style="max-width:100%;height:auto;" */
.app{
  height: 100vh;
  height: 100vh cover;
  max-width: 100% cover;
  width: 100vh;
  background-position: center center;
  background-attachment: fixed;
  /* background-size: 1`00%; */
  /* background-image: url(./components/pic2.jpg); */
  /* background-color: lightblue; */
  /* /* background-size: cover; */
  /* background-color: gray; */
  /* background-size: 100vh fixed; */
  /* -webkit-background-size: cover; */
  /* -moz-background-size:cover; */
  /* -o-background-size:cover;  */ 
  /* max-width: 100% auto;  */
  /* width: 100%; */
}

.div-main {
  
  display: flex;
  flex-direction: column;
}

.div-main-divider {
  flex: 1;
  margin: 0px;
}

.div-copyRight {
  display: flex;
  flex-direction: row;
}

.div-copyRight p {
  color: black;
  padding: 10px;
  margin: 10px;
  text-shadow: 1px 1px white ;
}
 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  /* color: #61dafb; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





@media screen and (min-width: 576px) { 
  .app {
    width: 100%;
    height: auto;
  }
  .header-div{
    flex-direction: column;
  }
 }


/* small phones from 0 to 48px */
@media only screen and (max-width: 480px) {
  .app{
    max-width: 480px;
  }
  .about{
    max-width: 400px;
  }
  .div-copyRight{
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
  }
}

/* ipads */
@media only screen and (max-width: 767px) {
  .header-div{
    flex-direction: column;
  }
}

/* bigger ipads */
@media only screen and (max-width: 1023px) {
  .header-div{
    flex-direction: column;
  }
}
 
/* computers */
@media only screen and (max-width: 1200px) {
  .header-div{
    flex-direction: column;
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* @viewport {
  width: device-width ;
  zoom: 1.0 ;
} */
