.blogs {
    background-color: gray;
    /* background-image: url('./wood.jpg'); */
}

.Blogs {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
}
.Tech-blogs {
    /* height: 1000px; */
    width: 100%;
    /* display: flex; */
    /* flex-direction: column; */
    
}
.blogs h2{
    font-family: fantasy;
    color: white;
    text-align: center;
    opacity: 80%;
    text-shadow: 1px 1px black;
}
.image {
    width: 50%;
}

.tech {
    margin-right: 10%;
}

.tech ul li {
    font-size: 1.5em;
    margin: 10px;
}
.travel ul li {
    font-size: 1.5em;
    margin: 10px;
}

.tech h2 {
    margin-left: 5%;
    color: orange;
    /* text-shadow: 1px 1px black; */
    text-decoration: none;
    font-size: 1.8em;
}
.travel h2 {
    margin-left: 10%;
    color: orange;
    /* text-shadow: 1px 1px black; */
    text-decoration: none;
    font-size: 1.8em;
}

.Blogs a{
    color: black;
    /* text-shadow: 1px 1px black; */
    text-decoration: none;
    font-size: 1em;
    padding: 10px 15px
} 

.Blogs ul a:hover,
.Blogs ul a:active {
    color: #caa472;
}

