.contact{
    background-image: url(../components/pic2.jpg);
    background-size: cover;
    height: 100vh;
    background-position: center center;
    background-attachment: fixed;
    /* opacity: 80%; */
    /* width: 100vh; */
    text-align: center;;
    font-family: fantasy;
  }
 
  .text {
      color: white;
      text-shadow: 2px 2px black;
  }

  .link {
      color: white;
      margin: 10px;
  }

  .link:hover {
      color: orange;
  }

