.contact{
    background-image: url(../components/pic2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: fantasy;
  }
 
  .text {
      color: white;
      text-shadow: 2px 2px black;
  }

  .link {
      color: white;
      margin: 10px;
  }

  .link:hover {
      color: orange;
  }

  .dividers{
      height: 500px;
      
  }

