.projs {
    background-image: url('./wood.jpg');
    background-size: cover;
    height: 100vh;
    background-position: center center;
    background-attachment: fixed;
    /* background-size: cover; */
    
    /* background-repeat: no-repeat; */
}
.projects {
    display: flex;
    margin-left: 7.5%;
    margin-right: 7.5%;

} 

.projects-header {
    text-align: center;
    font-family: fantasy;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 1.7em;
}

@media (min-aspect-ratio: 16/9){
    .projs {
      width: 100%;
      height: auto;
    }
  }
  @media (max-aspect-ratio: 16/9){
    .projs {
      width: auto;
      height: 100%;
    }
  }
  
  @media (max-width: 767px){
    .projs {
      background-size: cover;
    }
  }
  